@{
    ViewBag.Title = "充值";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>充值</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ui-dialog.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js"></script>
    <script src="/static/js/artDialog.source.js"></script>
    <script src="/static/js/iframeTools.source.js"></script>
    <script src="/static/js/iframe.js"></script>
    <script src="/static/js/common.js?_t=1558946765"></script>
</head>
<body class="iframebody">
    <div style=" padding:50px;">
        <form class="pad15" action="?">
            <input name="memberid" type="hidden" value="@ViewBag.MemberId">
            <ul class="formlist">
                <li><label class="lbt"><em>(*)</em>会员姓名：</label><div><span>@ViewBag.Name</span></div></li>
                <li><label class="lbt"><em>(*)</em>冲值金额：</label><div><input name="money" class="form-control" type="text" placeholder="请输入冲值金额" value=""> </div></li>
                <li><label class="lbt">说明：</label><div><textarea name="remark" class="form-textarea confiem_remarks_information" style="height:60px;" cols="" rows=""></textarea></div></li>
            </ul>
            <div class="padt" style="text-align: center"><a href="javascript:;" class="btn btnyes yunmall_button">保存</a></div>
        </form>
    </div>
</body>
</html>
