@Model Spetmall.Model.Page;
@{
    ViewBag.Title = "Edit";
}

<div class="common-app-tabs">
    <div class="common-app-name">限时折扣管理</div>
    <div class="app-tab">
        <ul>
            <li><a href="/Activity/index.html">限时折扣列表</a></li>
            <li class="active"><a href="#">添加限时折扣</a></li>

        </ul>
    </div>
</div>

<div class="form-goods-step">
    <form action="?" id="subtractfromfullForm" method="post">
        <input name="id" type="hidden" value="" />
        <div class="form-goods">
            <table width="100%" border="1">
                <tr class="title">
                    <td colspan="2">商品折扣活动信息</td>
                </tr>
                <tr>
                    <td class="name"><i>*</i> 名称：</td>
                    <td>
                        <input name="name" type="text" class="text w400 " value="">
                        <p class="hint">商品折扣活动名称长度至少3个字符，最长50个汉字</p>
                    </td>
                </tr>
                <tr>
                    <td class="name">类型：</td>
                    <td>
                        <select name="type" class="mySelect">
                            <option value="1">店铺</option>
                            <option value="2">指定分类</option>
                            <option value="3">指定商品</option>
                        </select>
                        <p class="hint">选择分类只能是指定分类下才可以使用。</p>
                    </td>
                </tr>
                <tr class="goodsclasslist" style="height:33.9px;display:none">
                    <td class="name">商品分类：</td>
                    <td>
                        <div id="placeofdelivery" style="width:500px;"></div>
                        <p class="hint">选择分类只能是指定分类下才可以使用。</p>
                    </td>
                </tr>
                <tr>
                    <td class="name"></td>
                    <td><div class="placeofdeliverymsg"></div></td>
                </tr>
                <tr class="goodsselectspecid" style="display:none">
                    <td class="name">请选择商品：</td>
                    <td>
                        <div class="selectoption">
                            <div class="option_button"><input name="formsubmits" id="specbutton" type="button" class="btn dssc-btn" value="选择商品" /></div>
                            <div class="option_list" id="option_list_id"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="name"></td>
                    <td>
                        <cite><input name="is_discount_type" type="radio" value="1" checked="checked" />不限&nbsp;&nbsp;&nbsp;&nbsp;<input name="is_discount_type" type="radio" value="2" />按件折扣&nbsp;&nbsp;&nbsp;&nbsp;<input name="is_discount_type" type="radio" value="3" />按价格折扣</cite>
                    </td>
                </tr>
                <tr>
                    <td class="name">创建规则</td>
                    <td>
                        <div class="selectoption">
                            <div class="goodsguizhe_button"><input name="formsubmits" id="discountguizhebutton" type="button" class="btn dssc-btn" value="新建规则" /></div>
                            <div class="goodsguizhe_list" id="goodsguizhe_list_id"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="name">可同时使用：</td>
                    <td>
                        <cite><input name="and_used[]" type="checkbox" value="quan" />优惠券&nbsp;&nbsp;&nbsp;<input name="and_used[]" type="checkbox" value="man" />满就送</cite>
                    </td>
                </tr>
                <tr>
                    <td class="name">开始时间：</td>
                    <td>
                        <div class="widgettxt widgetw156">
                            <div><input name="start_time" readonly="readonly" autocomplete="off" class="yunmalldate" value="" type="text" /><i class="icon-fl-renminbi"></i></div>
                        </div>
                        <p class="hint">价格必须是0.00~9999999之间的数字，此价格为商户对所销售的商品实际成本价格进行备注记录，非必填选项，不会在前台销售页面中显示。</p>
                    </td>
                </tr>
                <tr>
                    <td class="name">结速时间：</td>
                    <td>
                        <div class="widgettxt widgetw156">
                            <div><input name="end_time" readonly="readonly" autocomplete="off" class="yunmalldate" value="" type="text" /><i class="icon-fl-renminbi"></i></div>
                        </div>
                        <p class="hint">价格必须是0.00~9999999之间的数字，此价格为商户对所销售的商品实际成本价格进行备注记录，非必填选项，不会在前台销售页面中显示。</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="formbottom">
            <label class="submit-border">
                <input type="button" id="subtractfromfullsubmit" class="formsubmit" value="填写完成，保存">
            </label>
        </div>
    </form>
</div>

<script language="javascript">

    var TYPESELECT = function () {
        var _TYPE = $("select[name=type]"), _GOODSCLASSLIST = $(".goodsclasslist"), _GOODSSELECTSPECID = $(".goodsselectspecid");
        _TYPE.bind('change', function () {
            var _VAL = $(this).val();
            if (_VAL == 2) { _GOODSCLASSLIST.show(); } else { _GOODSCLASSLIST.hide(); }
            if (_VAL == 3) { _GOODSSELECTSPECID.show(); } else { _GOODSSELECTSPECID.hide(); }
        });
    };

    new TYPESELECT();



    var artspecdata = new ArtSpecData();
    artspecdata.setCreate(null);
    artspecdata.setDiscountGuizhe();
    artspecdata.init({});


    var Linkage = new SelectLinkage();
    Linkage.setName(['class1', 'class2', 'class3']);
    Linkage.setUrl('/Activity/getGoodsclasschild.html');
    Linkage.add();
    Linkage.add();
    Linkage.add();
    Linkage.init('#placeofdelivery', 0);



</script>
