@{
    ViewBag.Title = "主界面";
    ViewBag.bodyClass = "index-index";
}
<style>
    .member-index {
        background-color: #65a1ac;
        background-image: url(/images/bg2.jpg);
        background-repeat: no-repeat;
        background-position: center top; /*background-size:100% 100%;*/
    }
</style>
<div class="indbox">
    <div class="indbox-inner-bg">
        <div class="indbox-inner">
            <ul class="clear">
                <li><a style="background:#056497;" href="/product/index"><img src="/static/images/ind01.png"><span>商品管理</span></a></li>
                <li><a style="background:#af873a;" href="/receipt/index"><img src="/static/images/ind02.png"><span>收银</span></a></li>
                <li><a style="background:#5738a5;" href="#" target="_blank"><img src="/static/images/ind03.png"><span>采购</span></a></li>
                <li><a style="background:#2ec3cc;" href="/reports/index"><img src="/static/images/ind04.png"><span>报表</span></a></li>
                <li><a style="background:#40bc33;" href="/transaction/index?time=1"><img src="/static/images/ind05.png"><span>交易明细</span></a></li>
                <li><a style="background:#db5b5b;" href="/member/index"><img src="/static/images/ind06.png"><span>会员</span></a></li>
                <li><a style="background:#52b0ec;" href="/category/index"><img src="/static/images/ind07.png"><span>分类管理</span></a></li>
                <li><a style="background:#c54cb8;" href="/railcard/index"><img src="/static/images/ind08.png"><span>洗澡卡</span></a></li>
                <li><a style="background:#a6b737;" href="/activity/DiscountIndex"><img src="/static/images/ind09.png"><span>活动管理</span></a></li>
            </ul>
        </div>
    </div>
</div>
