.background {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background-color: darkgray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.progressBar {
    border: solid 2px #86A5AD;
    background: white url(${pageContext.request.contextPath}/static/image/progressBar_m.gif) no-repeat 10px 10px;
}

.progressBar {
    display: block;
    min-width: 160px;
    height: 28px;
    position: fixed;
    top: 30%;
    left: 45%;
    margin-left: -74px;
    margin-top: -14px;
    padding: 10px 10px 10px 20px;
    text-align: left;
    line-height: 27px;
    font-weight: bold;
    position: absolute;
    z-index: 2001;
}
