*.suo
*.Cache
*.exe
*.so
*.exe.*
*.user
*/*.user
bin
obj
bin/*
obj/*
Log
Log/*
Export
Export/*
.vs
.vs/*
TestResults/*
/net/FileShare/FileShare/UploadLog
/net/FileShare/FileShare/Log
/net/FileShare/FileShare/UploadAndShare
/net/FileShare/FileShare/Properties/PublishProfiles
