@{
    ViewBag.Title = "Index";
}
<script src="/static/js/receipt.js"></script>

<div class="autoheight clear">
    <div class=" autoleft">
        <div class="zonghe"><!--<a href="javascript:;" class="cashregistergoodsinfo">查看详情 >> </a>--><span>共<em id="shoppingcart_goods_number">0</em>件</span> </div>
        <div class="autolist">
            <!--<div class="orderbox">
            <p>猫粮满12件的送一件 <span>-100元</span></p>
            <p>猫粮满12件的送一件 <span>-100元</span></p>
            <p>猫粮满12件的送一件 <span>-100元</span></p>
            <p>10元店铺优惠券，满289元可用</p>
            <p>10元店铺优惠券，满289元可用</p>
            <p>10元店铺优惠券，满289元可用</p>
            </div>-->
            <div class="orderbox2" id="shoppingcart">

            </div>
        </div>
        <div class="leftbtnbox">
            <div class=" clear">
                <a class="btnqd" href="javascript:;" yun_type="dialog" dialog_title="取单" uri="/Receipt/qudan.html" dialog_width="70%" dialog_height="70%">取&nbsp;&nbsp;单</a>
                <a class="btngd" href="javascript:;" id="system-guadan">挂&nbsp;&nbsp;单</a>
            </div>

            <div class="user receiptmemberinfos" style="display:none;">
                <input name="memberuid" type="hidden" value="" />
                <img src="/images/tx.jpg">
                <p class="r_username"><span style="padding-right:20px;"></span> <span>余额:<i class="r_total_balance">0.00</i></span></p>
                <p><span>积分:<i class="r_integral"></i></span><span>折扣:<i class="r_discount"></i></span></p>
                <div class="newchoice"><a href="javascript:;" class="selectmember">修改</a></div>
                <div class="newchoice2"><a href="javascript:;" class="quitmember">退出</a></div>
            </div>

            <div class="notlogin">
                <a href="javascript:;" class="selectmember">选择会员</a>
            </div>
        </div>
    </div>
    <div class="pull-right autoright yunsys-goods-container">
        <table width="100%" style="height:100%; border:0px; border-collapse:collapse;" border="0">
            <tr>
                <td height="1">
                    <div class="fenlei system-class-filter yunmallsuperfish">
                        <ul class="clear sf-menu">
                            <li class="active"><a href="javascript:;" data-class="">全部</a></li>
                            <li>
                                <a href="javascript:;" data-class="1">狗狗商品<i class="iconfont i-shanjiaoxia"></i></a>

                                <ul>
                                    <li>
                                        <a href="javascript:;" data-class="1-5"><em></em>宠物狗粮 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-6"><em></em>狗罐头/妙鲜包 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-7"><em></em>狗狗零食 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-8"><em></em>狗狗保健品 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-9"><em></em>狗狗医疗 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-16"><em></em>狗狗沐浴露 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-33"><em></em>狗狗日用品 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-34"><em></em>狗狗美容 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-35"><em></em>狗狗玩具 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-36"><em></em>狗狗衣服/狗窝 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="1-37"><em></em>出行装备 </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-class="4">猫猫商品<i class="iconfont i-shanjiaoxia"></i></a>

                                <ul>
                                    <li>
                                        <a href="javascript:;" data-class="4-82"><em></em>宠物猫粮 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-83"><em></em>猫罐头/妙鲜包 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-84"><em></em>猫猫零食 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-109"><em></em>猫猫保健 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-110"><em></em>猫猫医疗 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-113"><em></em>猫猫香波 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-114"><em></em>猫猫日用品 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-115"><em></em>猫猫玩具 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-119"><em></em>猫衣服/猫窝 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="4-121"><em></em>美容器材 </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-class="2">宠物服务<i class="iconfont i-shanjiaoxia"></i></a>

                                <ul>
                                    <li>
                                        <a href="javascript:;" data-class="2-85"><em></em>宠物洗澡 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="2-86"><em></em>宠物美容 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="2-87"><em></em>宠物寄养 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="2-88"><em></em>宠物SPA药浴 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="2-89"><em></em>宠物安全检疫 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="2-90"><em></em>宠物训导 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="2-91"><em></em>宠物摄影 </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-class="3">活体销售<i class="iconfont i-shanjiaoxia"></i></a>

                                <ul>
                                    <li>
                                        <a href="javascript:;" data-class="3-122"><em></em>小型犬 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="3-124"><em></em>中型犬 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="3-126"><em></em>大型犬 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="3-127"><em></em>猫咪 </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-class="3-279"><em></em>异宠 </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-class="284">其它<i class="iconfont i-shanjiaoxia"></i></a>

                                <ul>
                                    <li>
                                        <a href="javascript:;" data-class="284-285"><em></em>收银硬件 </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="position:relative;">
                    <div class="fenleibox" id="goods-items-container">
                        <div id="goods-items" style="overflow:hidden;"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="foot">

    <!--结算-->
    <div class="shouqian " id="receipt-submit" title="请单击结算">
        <div class="jieshuanyouhui">优惠:￥<i id="youhui_total_price">0.00</i></div><span>实收:￥<em id="shoppingcart-totalprice">0.00</em></span>
        收钱
    </div>

    <!--搜索框-->
    <div class="sysmenu-search">
        <div class="txm pull-left ">

            <div class="txminput  pull-left">
                <span></span>
                <div class="s-text"><input type="text" name="keyword" placeholder="请输入商品名称或者扫描商品条形码"></div>
                <!--<a href="#" class="a"><em></em></a>-->
                <input name="" type="button" class="btn receipt-keyword-btn" value="确认" />
            </div>
            <!--<a href="#" class="wmsp pull-right">无码<br>商品</a>-->

        </div>

        <!--菜单-->
        <div class="pull-right footicon sysmenu-map">
            <span><a href="/" class="active urlbackcheck"><img src="/static/images/ft_01.png"><em>主界面</em></a></span>
            <span><a href="javascript:;" yun_type="dialog" dialog_title="添加商品" uri="/goods/add.html" dialog_width="80%" dialog_height="80%"><img src="/static/images/ft_02.png"><em>添加商品</em></a></span>
            <span><a href="javascript:;" yun_type="dialog" dialog_title="添加会员" uri="/Member/add.html" dialog_width="80%" dialog_height="80%"><img src="/static/images/ft_03.png"><em>添加会员</em></a></span>
            <span><a href="javascript:;" yun_type="dialog" dialog_title="添加分类" uri="/store_class/add.html" dialog_width="80%"><img src="/static/images/mico1.png"><em>添加分类</em></a></span>
            <span><a href="javascript:;" yun_type="dialog" dialog_title="添加优惠卡" uri="/Railcard/add.html" dialog_width="80%"><img src="/static/images/ind04.png"><em>优惠卡</em></a></span>
        </div>
    </div>
</div>
<script type="text/javascript">

    var receiptcommon = new ReceiptCommon();

    function AndroidMsg(_result) {
        try {
            alert(_result);

        } catch (err) {
            alert(err);
            //yunmallIframe.error("JSON格式错误");
        }
    }

    $(function () {

        receiptcommon.setReceipt({ "goods_category": 1, "buy_number_total": 2, "originaltotalprice": 40000, "activitytotalprice": 28000, "totalprice": 40000, "sellerid": "489", "cost_price_total": 20000, "discount_total_price": 12000, "storediscount": { "min": 40000, "discount": 7, "is_discount_type": "3", "id": "93", "and_used": null, "discount_price": 12000 }, "receiptgoodsdata": { "8053": { "store_class1": "", "store_class2": "", "store_class3": "", "class1": "1", "class2": "5", "class3": "0", "title": "\u72d7\u7cae", "mapthumimg": "", "myprice": "20000", "price": "10000", "storage": "9", "alarm": "1", "id": "8053", "sellerid": "489", "is_discount": "1", "number": "2", "goods_total_price": 40000, "goods_activity_total_price": 40000, "discount_goods_total_price": 0, "activitytotalprice": 40000 } } });
        receiptcommon.test = 15;
        receiptcommon.bind();
        receiptcommon.page();


        $(".selectmember").bind('click', function () {
            receiptcommon.selectUserOpen('selectUser2');
        });

        $(".quitmember").bind('click', function () {
            receiptcommon.quitmember();
        });

        $("input.receipt-keyword-btn").bind('click', function () {
            receiptcommon.filterGoods({ keyword: $("input[name=keyword]").val() });
        });

        $(".system-class-filter a").bind('click', function (event) {
            event.stopPropagation();
            $(this).closest('li').addClass('active').siblings().removeClass('active');
            receiptcommon.filterGoods({ class: $(this).attr('data-class') });
        });

        $(document).keyup(function (event) {

            if (event.keyCode == 13) {
                //$(".receipt-keyword-btn").trigger("click");
            }
        });

        //跳转前判断
        $(".urlbackcheck").bind('click', function (e) {
            e.stopPropagation();
            e.preventDefault();
            var _href = $(this).attr('href');
            for (var J in receiptcommon.ShoppingGoods) {
                yunmall_confirm_dialog('有商品在购物车,你确定要离开吗?', _href);
                return;
            }
            window.location.href = _href;

        });

    });

    $(document).ready(function () {
        var _menuTime = null, _TMPELE = null;

        $(".sf-menu li").mouseover(function (event) {
            event.stopPropagation();
            if (_menuTime) window.clearTimeout(_menuTime);
            $(this).siblings().find("ul:visible").hide();
            $(this).children('ul').show();

        });

        $(".sf-menu li").mouseout(function (event) {
            event.stopPropagation();
            _menuTime = setTimeout(function () {
                $(".sf-menu ul:visible").hide();
            }, 50);
        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var hei = $(window).height()
        var hei2 = $(".autoheight").height()
        $(".autolist").height(hei2 - 158)
    })
    $(window).resize(function () {
        var hei3 = $(".autoheight").height()
        $(".autolist").height(hei3 - 158)
    })
</script>
