@using Spetmall.Model;
@{
    ViewBag.Title = "Index";
}
<script src="~/static/js/selectpage.js"></script>
<link href="~/static/dialog/css/dialog.css" rel="stylesheet" />
<script src="~/static/dialog/js/dialog.min.js"></script>

<div class="mianbox">
    <div class="searchbar">
        <div style="padding-right: 350px;">
            <div class="search">
                <input type="text" name="keyword" value="" placeholder="请输入商品名称或条形码">
                <a href="javascript:;" id="yunmall_goods_search">查询</a>
            </div>

        </div>
        <div class="rightbtn">
            <a href="javascript:;" yun_type="dialog" dialog_title="添加商品" uri="edit/0" dialog_width="60%" class="barbtn01" id="open">添加商品</a>
            <a href="?orderBy=sales" class="barbtn02 ">按售量</a>
            <a href="?orderBy=store" class="barbtn02 ">按库存</a>
        </div>
    </div>
    <div class="padt">
        <div class="fenlei2 yunmallsuperfish" id="yunmallgoodsclass">
            <ul class="clear sf-menu">
                <li class="active"><a href="?time=1558613802">全部</a></li>
                <li>
                    <a href="javascript:void(0);" data-class="1">狗狗商品<i class="iconfont i-shanjiaoxia"></i></a>

                    <ul>
                        <li>
                            <a href="javascript:void(0);" data-class="1-5"><em></em>宠物狗粮 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-6"><em></em>狗罐头/妙鲜包 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-7"><em></em>狗狗零食 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-8"><em></em>狗狗保健品 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-9"><em></em>狗狗医疗 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-16"><em></em>狗狗沐浴露 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-33"><em></em>狗狗日用品 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-34"><em></em>狗狗美容 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-35"><em></em>狗狗玩具 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-36"><em></em>狗狗衣服/狗窝 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="1-37"><em></em>出行装备 </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-class="4">猫猫商品<i class="iconfont i-shanjiaoxia"></i></a>

                    <ul>
                        <li>
                            <a href="javascript:void(0);" data-class="4-82"><em></em>宠物猫粮 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-83"><em></em>猫罐头/妙鲜包 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-84"><em></em>猫猫零食 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-109"><em></em>猫猫保健 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-110"><em></em>猫猫医疗 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-113"><em></em>猫猫香波 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-114"><em></em>猫猫日用品 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-115"><em></em>猫猫玩具 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-119"><em></em>猫衣服/猫窝 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="4-121"><em></em>美容器材 </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-class="2">宠物服务<i class="iconfont i-shanjiaoxia"></i></a>

                    <ul>
                        <li>
                            <a href="javascript:void(0);" data-class="2-85"><em></em>宠物洗澡 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="2-86"><em></em>宠物美容 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="2-87"><em></em>宠物寄养 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="2-88"><em></em>宠物SPA药浴 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="2-89"><em></em>宠物安全检疫 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="2-90"><em></em>宠物训导 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="2-91"><em></em>宠物摄影 </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-class="3">活体销售<i class="iconfont i-shanjiaoxia"></i></a>

                    <ul>
                        <li>
                            <a href="javascript:void(0);" data-class="3-122"><em></em>小型犬 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="3-124"><em></em>中型犬 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="3-126"><em></em>大型犬 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="3-127"><em></em>猫咪 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-class="3-279"><em></em>异宠 </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-class="284">其它<i class="iconfont i-shanjiaoxia"></i></a>

                    <ul>
                        <li>
                            <a href="javascript:void(0);" data-class="284-285"><em></em>收银硬件 </a>
                        </li>
                    </ul>
                </li>
                <!--<li><a href="/store_class/index.html">+添加分类</a></li>-->

            </ul>
        </div>

        <div class="chanpin clear">

            <ul id="goods-list">
                @{
                    foreach (product item in ViewBag.datas)
                    {
                        <li class="">
                            <a href="javascript:;" yun_type="dialog" dialog_title="修改商品" uri="edit/@item.id" dialog_width="60%">
                                <img src="@item.thumbnail" onerror="this.src='/static/images/defaultgoods.jpg';" style="width:100%;height:250px;">
                                <div class="cpnav">
                                    <ol>@item.name</ol>
                                    <p>单价：<strong>@item.price 元</strong></p>
                                    <div class="clear goods_attr_info">
                                        <span class="">库存：@item.store</span>
                                        <span class="">销量：@item.sales</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                }
            </ul>
            <div class="emptydata" style="display:none;">没有数据了</div>
            <div class="emptydatasearch" style="display:none;">没有搜索到相关数据,请换一个关键词试一下</div>
        </div>

    </div>
</div>
<script language="javascript">

    $(function () {

        var selectpage = new selectPage();
        selectpage.empty = function (_data, _request) {

            if (this.config.page <= 1 && _request['keyword'] && _request['keyword'] != '') {

                $(".emptydatasearch").show();
            } else {
                $(".emptydata").show();
            }
        };

        selectpage.successBefore = function (_data) {
            if (this.config.page <= 1) {
                this.config.content.empty();
                $(".emptydatasearch").hide();
                if (_data.datacount > 1) {
                    $(".search_empty").hide();
                }
            }
        };

        selectpage.bind = function (_dom) {
            yunmalldialog(_dom.find("[yun_type=dialog]"));
        };

        selectpage.afterAll = function () {
            //this.config.content.append('<div class="loaded">已经没有更多商品了</div>');
            $(".emptydata").show();
        };

        //selectpage.init({ url: '/goods/paginate.html', page: 1, scroll: $(window), content: $("#goods-list") });
        //selectpage.setData({});
        //selectpage.paginate();

        //$("#yunmallgoodsclass a").bind('click', function (event) {
        //    event.preventDefault();
        //    selectpage.setPage(1);
        //    selectpage.setData({ "class": $(this).attr('data-class') });
        //    selectpage.paginate();
        //});



        $("#yunmall_goods_search").bind('click', function (event) {
            event.preventDefault();
            selectpage.setPage(1);
            selectpage.setData({ "keyword": $.trim($("input[name=keyword]").val()) });
            selectpage.paginate();
        });

        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                selectpage.setPage(1);
                selectpage.setData({ "keyword": $.trim($("input[name=keyword]").val()) });
                selectpage.paginate();
            }
        });
    })

</script>
<script type="text/javascript">

    $(document).ready(function () {
        var _menuTime = null, _TMPELE = null;

        $(".sf-menu li").mouseover(function (event) {
            event.stopPropagation();
            if (_menuTime) window.clearTimeout(_menuTime);
            $(this).siblings().find("ul:visible").hide();
            $(this).children('ul').show();

        });

        $(".sf-menu li").mouseout(function (event) {
            event.stopPropagation();
            _menuTime = setTimeout(function () {
                $(".sf-menu ul:visible").hide();
            }, 50);
        });

        $(document).bind('click', function () {
            $("input[name=title]").focus();
        }).trigger('click');

    });
</script>
