<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<!--顶部注释中的作者-->
		<add key="Author" value="ZhouWei"/>
		<!--获取目录时，排除以下目录-->
		<add key="ExceptFolders" value="vue-admin,node_modules,Log,bin,obj,packages,Content,Views,.git,.vs" />
		<!--需要替换的字符组，(被替换的字符|替换后的字符)-->
		<add key="ReplaceTextPair" value="Tmp.|Questionnaire."/>
		<!--替换字符的文件类型限定-->
		<add key="ReplaceTextFileLimit" value="*.csproj, *.cs, *.ashx, *.asax"/>
	</appSettings>
</configuration>
