@{
    ViewBag.Title = "角色信息管理"; 
}
<div class="well">
    <div id="div_search_timedactivityrelmng" >
        @Html.Action("Search")
    </div>
    <div id="div_datalist_timedactivityrelmng">
        @Html.Action("Data")
    </div>
 </div>
