@model Spetmall.Model.railcard_record
@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>优惠卡 - 圣宠智慧云商 - 链接宠物店与猫狗粮食用品的服务商城！</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css?t=1558961822">
    <link rel="stylesheet" type="text/css" href="/static/css/ui-dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/extend/honeySwitch/lib/honeySwitch.css">

    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js"></script>
    <script src="/static/extend/honeySwitch/lib/honeySwitch.js"></script>
    <script src="/static/extend/laydate/laydate.js"></script>
    <script src="/static/js/artDialog.source.js"></script>
    <script src="/static/js/iframeTools.source.js"></script>
    <script src="/static/js/iframe.js"></script>
    <script src="/static/js/common.js?_t=1558961822"></script>

</head>

<body class="iframebody">
    <div style=" padding:50px;">
        <form class="pad15" action="?">
            <input name="railcardid" type="hidden" value="@ViewBag.railcardid" />
            <ul class="formlist">
                <li>
                    <label class="lbt"><em>(*)</em>使用次数：</label><div>
                        @*<input name="use_number" class="form-control" type="text" placeholder="请输入冲值金额" value="1">*@
                        @Html.TextBoxFor(a => a.times, new { @class = "form-control", placeholder = "请输入使用次数" })
                    </div>
                </li>
                <li>
                    <label class="lbt">备注：</label><div>
                        @*<textarea name="explain" class="form-textarea confiem_remarks_information" style="height:60px;" cols="" rows=""></textarea>*@
                        @Html.TextAreaFor(a => a.remark, 2, 2, new { @class = "form-textarea confiem_remarks_information", placeholder = "请输入备注", cols = "", rows = "" })
                    </div>
                </li>

            </ul>
            <div class="padt" style="text-align: center"><a href="javascript:;" class="btn btnyes yunmall_button">保存</a></div>

        </form>
    </div>

</body>
</html>

