@{
    ViewBag.Title = "Edit";
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>优惠卡 - 圣宠智慧云商-链接宠物店与猫狗粮食用品的服务商城！</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css?t=1558752788">
    <link rel="stylesheet" type="text/css" href="/static/css/ui-dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/extend/honeySwitch/lib/honeySwitch.css">

    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js"></script>
    <script src="/static/extend/honeySwitch/lib/honeySwitch.js"></script>
    <script src="/static/extend/laydate/laydate.js"></script>
    <script src="/static/js/artDialog.source.js"></script>
    <script src="/static/js/iframeTools.source.js"></script>
    <script src="/static/js/iframe.js"></script>
    <script src="/static/js/common.js?_t=1558752788"></script>

</head>

<body class="iframebody">

    <form class=" pad15" action="?" method="post">
        <ul class="formlist">
            <li><label class="lbt"><em>(*)</em>手机号：</label><div><input name="phone" class="form-control" type="text" placeholder="请输入手机号码"> </div></li>
            <li><label class="lbt"><em>(*)</em>姓名：</label><div><input class="form-control" type="text" name="username" value="" placeholder="请输入姓名"> </div></li>
            <li><label class="lbt"><em>(*)</em>使用次数：</label><div><input class="form-control" type="text" name="number" value="" placeholder="请输入使用次数"> </div></li>
            <li><label class="lbt"><em>(*)</em>总金额：</label><div><input class="form-control" type="text" name="total_balance" value="" placeholder="请输入总金额"> </div></li>
            <li><label class="lbt"><em>(*)</em>使用次数：</label><div><input class="form-control" type="text" name="number" value="" placeholder="请输入使用次数"> </div></li>
            <li><label class="lbt"><em>(*)</em>开始时间：</label><div><input class="form-control yunmalldate" name="start_time" value="" type="text" readonly placeholder="请选择开始时间"> </div></li>
            <li><label class="lbt"><em>(*)</em>结束时间：</label><div><input class="form-control yunmalldate" name="stop_time" value="" type="text" readonly placeholder="请选择结束始时间"> </div></li>
        </ul>
        <div class="padt" style="text-align: center"><a href="#" class="btn btnyes yunmall_button">添加</a></div>

    </form>

</body>
</html>
