* {padding:0px;margin:0px;}
body {font-size:14px;padding:0;letter-spacing:1px;margin:0;font-family:"å¾®è½¯é›…é»‘";}
html,body {margin:0px;padding:0px;}
body {background-color:#e7f4fc;min-width:900px;}
.mainbody {}
h1,h2,h3,h4,h5,h6 {font-weight:normal}
li {list-style-type:none;}
a {text-decoration:none}
img {display:inline-block;vertical-align:middle;max-width:100%;}
.pad {padding:15px;}
.padtb {padding:15px 0;}
.padt {padding:15px 0 0 0;}
.iframebody {padding:5px 30px;min-width:inherit;}
::-webkit-scrollbar {width:8px;height:7px;position:absolute;}
::-webkit-scrollbar-thumb {background-color:#d9d9d9;border-radius:10px;}
::-webkit-scrollbar-track {background-color:#36abed;border-radius:10px;}
em {font-style:normal}
/***å¼•ç”¨bootsé’®æŒ‰***/body.index-index {background-color:#65a1ac;background-image:url(/images/bg2.jpg);background-repeat:no-repeat;background-position:center top;/*background-size:100% 100%;*/}
.form-control {text-indent:10px;outline:none;display:block;width:99%;height:22px;padding:6px 0;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-textarea {text-indent:10px;outline:none;display:block;width:99%;height:122px;padding:6px 0;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.btn-default {color:#333;background-color:#eee;border:1px solid #ddd!important}
.btn {display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:3px}
.btn-primary {color:#fff;background-color:#4fbaf2;border-color:#4fbaf2}
.btn-success {color:#fff;background-color:#5cb85c;border-color:#4cae4c}
.btn-info {color:#fff;background-color:#5bc0de;border-color:#46b8da}
.btn-warning {color:#fff;background-color:#f0ad4e;border-color:#eea236}
.btn-danger {color:#fff;background-color:#d9534f;border-color:#d43f3a}
.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {border-color:transparent}
.btn-group-lg>.btn,.btn-lg {padding:10px 0;width:100%;font-size:18px;line-height:1.3333333;}
.btn-group-sm>.btn,.btn-sm {padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}
.btn-group-xs>.btn,.btn-xs {padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;}
.btn-block {display:block;}
.btnyes {background:linear-gradient(#2f7ff0,#186ace);padding:10px 50px;font-size:18px;color:#fff;display:inline-block;border:none;transition:all 0.5s;}
.btnyes:hover {background:linear-gradient(#186ace,#2f7ff0);}
.btnno {background:linear-gradient(#eceffe,#dce2e8);padding:10px 50px;font-size:18px;color:#fff;display:inline-block;border:none;color:#333;transition:all 0.5s;}
.btnno:hover {background:linear-gradient(#dce2e8,#eceffe);}
.container {width:96%;max-width:1200px;min-width:1200px;margin:0 auto;}
.container:after,.row:after,.clear:after {display:block;clear:both;content:"";visibility:hidden;height:0}
.containerm,.row,.clear {zoom:1}
.pull-left {float:left;margin-top:7px;}
.pull-left span {display:block;float:left;background:url(../images/txm.png) no-repeat center center;width:42px;height:24px;margin-left:5px;margin-top:5px;margin-right:5px;background-size:100% 100%;}
.pull-right {float:left}
.system-header-right {float:right;}
#yunmall_sys_time {width:158px;}
/****/.login {position:absolute;top:50%;margin-top:-290px;width:630px;left:50%;margin-left:-315px;}
.dog {position:absolute;z-index:10;left:30px;}
.loginnav {background:#fff;border-radius:5px;position:absolute;width:100%;left:0;top:162px;}
.logo {padding-left:20px;height:50px;float:left;}
.logo img {width:76%;}
.lgtit {height:59px;background:url(../images/titbg.png) no-repeat;}
.lgtit span {float:right;color:#fff;font-size:14px;padding-top:30px;padding-right:20px;}
.loginput {padding:30px 90px 60px 90px}
.loginput input {display:block;border:1px solid #ddd;height:48px;width:100%;border-radius:3px;margin:20px 0;font-size:18px;text-indent:18px;box-shadow:0 0 10px rgba(0,0,0,.1)}
/*****/.head {background:#056497;height:50px;box-shadow:3px 3px 15px rgba(0,0,0,0.2);z-index:101;position:relative;}
.headnav {padding-right:15px;margin-top:10px;}
.headnav .app-info {height:30px;width:30px;float:left;padding-right:40px;position:relative;}
.headnav .app-info em.message_number {position:absolute;display:block;height:20px;line-height:20px;background:#f00;border-radius:50px;padding:0px 12px;top:-8px;right:15px;color:#FFF;z-index:999;}
.headnav .header-message {position:relative;}
.headnav .app-info img {width:100%;float:left;}
.headnav .info-info2 {height:30px;width:auto;padding-right:0px;}
.headnav .info-img {height:30px;width:30px;float:left;}
.headnav .info-info2 em {float:left;height:30px;line-height:30px;display:block;color:#FFF;padding-left:10px;}
.headnav a {color:#fff;font-size:13px;position:relative;height:50px;display:inline-block;}
.headnav a img {}
.indbox {min-width:800px;margin:0px auto;position:relative;position:absolute;left:0px;top:66px;bottom:0px;right:0px;}
.indbox-inner-bg {/*padding:5% 30.26% 0 30.26%;*/  width:40%;padding-top:40%;margin:0px auto;position:absolute;top:50%;left:50%;margin:-20% 0 0 -20%;}
.indbox-inner {position:absolute;left:0px;top:0px;right:0px;bottom:0px;}
.indbox ul {margin:0px;width:100%;display:block;}
.indbox ul.paddingtop {}
.indbox li {float:left;width:33.333%;padding-top:33.333%;overflow:hidden;position:relative;}
.indbox li a {display:block;text-align:center;font-size:160%;color:#fff;transition:all 0.6s;position:absolute;left:10%;top:10%;bottom:10%;right:10%;background:#900}
.indbox li a span {width:100%;}
.indbox li a:hover {transform:scale(1.1,1.1)}
.indbox li a img {display:block;margin:0 auto;width:80%;}
@media screen and (max-width:1700px) {.indbox li a {font-size:120%}
;}
@media screen and (max-width:1200px) {.indbox li a {font-size:100%}
;}
.menubtn {background:#0e87cc;float:left;height:50px;width:53px;position:relative;cursor:pointer;}
.menubtn>img {width:100%;}
.menubtn_active {background:#46abe4;}
.menu {position:absolute;box-shadow:5px 5px 5px rgba(0,0,0,.2);display:none;top:50px;width:180px;z-index:8888;bottom:2px;overflow:auto;background:#46abe4;}
.menu::-webkit-scrollbar {width:8px;height:7px;position:absolute;}
.menu::-webkit-scrollbar-thumb {background-color:#d9d9d9;border-radius:10px;}
.menu::-webkit-scrollbar-track {background-color:#36abed;border-radius:10px;}
.menu a {background:#46abe4;text-indent:0;display:block;color:#fff;padding:10px 20px;white-space:nowrap}
.menu a:hover {background:#0e87cc;}
.menu a img {margin:0 10px 0 0;padding:0;}
.menubtn:hover {background:#46abe4;}
.massagenum {position:absolute;background:#ff3300;color:#fff;line-height:120%!important;font-size:14px;padding:3px 8px;border-radius:16px;top:0px;right:16px;}
/******/.mianbox {padding:10px}
.search {position:relative;z-index:2;}
.search input {border:1px solid #dbdbdb;text-indent:50px;font-size:18px;outline:none;height:50px;border-radius:3px 0 0 3px;width:99%;background:#fff url(../images/search.png) no-repeat 12px center;background-size:auto 50%;}
.time {float:left;margin-right:10px;}
.time input {text-indent:14px;float:left;width:220px;font-size:18px;outline:none;height:50px;border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;border:1px solid #dbdbdb;}
.time span {display:block;padding:0 8px;float:left;height:50px;line-height:50px;font-size:18px;}
.search a {position:absolute;color:#333;right:0;top:0;height:50px;width:120px;text-align:center;line-height:50px;border:1px solid #dbdbdb;border-radius:0 3px 3px 0;font-size:20px;background:linear-gradient(#edeffe,#dbe0e6);/* æ ‡å‡†çš„è¯­æ³• */}
.search a:hover {background:linear-gradient(#dbe0e6,#edeffe);/* æ ‡å‡†çš„è¯­æ³• */}
.searchbar {position:relative;z-index:2;}
.rightbtn {position:absolute;right:0;top:0;font-size:0;z-index:1;}
.rightbtn a.active {background:#46abe4;color:#FFF;border-radius:5px;}
.barbtn01,.formsubmit {border:0px;height:52px;width:160px;text-align:center;line-height:52px;border-radius:3px;font-size:20px;color:#fff;float:left;background:linear-gradient(#2fb3f1,#1991ce);}
.barbtn01:hover,.formsubmit:hover {background:linear-gradient(#1991ce,#2fb3f1);}
.barbtn02 {height:50px;line-height:50px;font-size:18px;color:#666;float:left;background:#ffffff;padding:0 15px;border-right:1px solid #eee;}
.formbottom {background:#FFF;padding-left:168px;overflow:hidden;padding-bottom:20px;}
.formsubmit {}
.alert-info {color:#31708f;background-color:#d9edf7;border-color:#9cd1f1;}
.alert {font-size:18px;padding:15px;margin-bottom:20px;border:1px solid #9cd1f1;border-radius:4px;}
/*******/.zje {}
.table01 {border-left:1px solid #9cd1f1;border-top:1px solid #9cd1f1;background:#fff;}
.table01 td,.table01 th {border-right:1px solid #9cd1f1;border-bottom:1px solid #9cd1f1;text-align:center;}
.table01 th {background:#b8e4ff;padding:15px 10px;}
.table01 td {padding:13px 10px;}
.table01 td span.tags {display:block;font-size:12px;color:#FFF;border-radius:5px;padding:0px 10px;height:21px;line-height:21px;background:#5bc0de;border:1px solid #46b8d;float:left;margin-right:10px;}
.table01 td a {color:#333;}
.table01 tr:hover {background-color:#e7f4fc;}
.autoheight {position:absolute;top:50px;left:0px;bottom:58px;width:100%;}
.autoleft,.autoright {height:100%;}
.autoleft {/*width:26%;*/ width:340px;position:absolute;left:0px;bottom:0px;top:0px;z-index:10;}
.autolist {position:absolute;bottom:120px;left:0px;top:40px;background:#0e87cc;overflow-y:scroll;width:100%;}
.autolist::-webkit-scrollbar {width:8px;height:7px;position:absolute;}
.autolist::-webkit-scrollbar-thumb {background-color:#d9d9d9;border-radius:10px;}
.autolist::-webkit-scrollbar-track {background-color:#36abed;border-radius:10px;}
.zonghe {color:#fff;background:#0173b6;text-align:center;box-shadow:0px 1px 0px #0173b6}
.zonghe span {font-size:16px;display:block;height:40px;line-height:40px;}
.orderbox p {border-bottom:1px dashed #3e9fd6;font-size:13px;padding:10px 20px;color:#fff;}
.orderbox span {float:right;font-size:13px;}
.orderbox2 {margin:0px;padding:0px 2%;}
.orderbox2 li {border-bottom:1px solid #3e9fd6;padding:10px 0px;}
.orderbox2 li.active {background:linear-gradient(to right,#0e81c7,#0a689e);}
.orderbox2 .name {width:140px;overflow:hidden;/*white-space:nowrap;text-overflow:ellipsis;*/float:left;line-height:20px;color:#fff;font-size:13px;text-overflow:-o-ellipsis-lastline;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;}
.czbox {float:left;font-size:18px;margin:0 10px;}
.prc {float:left;line-height:40px;color:#fff;font-size:13px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:89px;}
.delect {float:right;line-height:40px;color:#fff;}
.delect a.del {width:24px;height:40px;display:block;background:url(../images/del.png) no-repeat center center;}
.czbox {position:relative;padding-right:21px;}
.czbox .num {width:48px;height:40px;background:#fff;line-height:40px;text-align:center;display:block;}
.czbox .plus,.czbox .min {height:19px;width:19px;text-align:center;line-height:19px;background:#fff;position:absolute;right:0;top:0;cursor:pointer;}
.czbox .min {bottom:0;top:inherit;}
.leftbtnbox {height:120px;background:#0e87cc;position:absolute;left:0px;bottom:0px;width:100%;}
.btngd {}
.btnqd,.btngd {width:50%;float:left;display:block;text-align:center;line-height:32px;border-top:1px solid #b9e5fe;border-bottom:1px solid #4a9ccc;font-size:13px;}
.btnqd {background:linear-gradient(#a5ddfd,#47aee8);border-bottom:1px solid #7ac4ee;color:#333;}
.btngd {background:linear-gradient(#41aae5,#0576b9);color:#fff;}
.user {padding:15px 20px;font-size:13px;color:#fff;position:relative;}
.user .newchoice,.user .newchoice2 {display:block;position:absolute;top:15px;right:10px;}
.user .newchoice2 {top:48px;}
.user .selectmember {color:#FFF;font-size:12px;}
.user .newchoice2 .quitmember {color:#FFF;}
.user p {padding-top:5px;padding-bottom:5px;overflow:hidden;}
.user p span {float:left;padding-right:10px;}
.user p span i {font-style:normal}
.notlogin {width:100%;position:relative;padding-top:16%;margin-top:15px;}
.notlogin a.selectmember {background:url(../images/notlogin.png) no-repeat center center;display:block;background-size:100% 100%;position:absolute;left:10%;right:10%;top:5px;bottom:5px;color:#FFF;padding-left:35%;padding-top:3%;font-size:15px;}
.user img {width:55px;float:left;margin-right:10px;}
.foot {position:fixed;box-shadow:0 0 10px rgba(0,0,0,.2);background:#0e87cc;left:0;bottom:0;padding:0px;height:58px;/*padding:2.3% 0px;height:0px;*/   width:100%;z-index:101;}
.foot .shouqian {line-height:58px;font-size:20px;/*width:26%;*/ width:339px;background:linear-gradient(#249add,#0b6aa1);position:absolute;left:0px;top:0px;bottom:0px;color:#fff;border-right:1px solid #249add;box-shadow:0 0 10px rgba(0,0,0,.2);text-indent:24px;cursor:pointer;}
.jieshuanyouhui {position:absolute;right:10px;top:5px;height:20px;font-size:12px;padding-top:0px;line-height:20px;}
.jieshuanyouhui em {height:auto;clear:both;}
.foot .shouqian:hover {background:#FFCC00;}
.foot .shouqian span {float:right;padding-right:10px;padding-top:26px;font-size:15px;font-weight:700;color:#FFF;line-height:30px;}
.sysmenu-search {position:absolute;left:340px;top:0px;bottom:0px;right:0px;}
.goods-search {min-width:280px;border-radius:5px;padding:12px 0px;height:34px;position:relative;float:left;}
.sysmenu-map {overflow:hidden;float:left;padding-top:5px;padding-left:10px;padding-right:5px;}
.sysmenu-map span {display:block;float:left;padding:0px 0px 2px 0px;}
.sysmenu-map span img {width:30px;height:30px;}
.sysmenu-map span a {color:#FFF;display:block;text-align:center;margin:0px 5px;font-size:12px;padding:0px 10px 2px 10px}
.sysmenu-map span a:hover {box-shadow:0 0 10px rgba(0,0,0,.3);border-radius:5px;}
.sysmenu-map span a em {display:block;width:100%;text-align:center;}
.foot .shouqian .collect-money {font-size:20px;height:40px;line-height:40px;position:absolute;width:100%;text-align:left;top:50%;margin-top:-20px;left:0px;display:block;padding:0px;}
.foot .shouqian .collect-money em {color:#b00;font-size:22px;}
.foot .txm {padding:0px 0 0 30px;}
.txminput {box-shadow:0 0 10px rgba(0,0,0,.3);}
.goods-search span {width:30px;margin:0px 10px;height:34px;display:block;float:left;line-height:34px;background:url(../images/txm.png) repeat-x center center;}
.s-text {border:none;background:#F00;z-index:3;float:left;}
.txminput .s-text input {text-indent:4%;outline:none;font-size:13px;display:block;width:280px;height:34px;line-height:34px;border:0px;padding:0px;}
.txminput input.btn {background:linear-gradient(#249add,#0b6aa1);float:left;display:block;height:34px;border:0px;font-size:15px;text-align:center;color:#fff;width:60px;}
.app-item {width:64px;min-width:64px;position:relative;float:left;margin:0px 1.4%;}
.app-item a {display:block;top:0px;bottom:0px;width:100%;color:#fff;}
.app-item a span {width:60%;display:block;margin:0px auto;}
.app-item a em {font-size:12px;}
.app-item a img {width:60%;}
.app-item a {font-size:13px;color:#fff;text-align:center;display:block;float:left;padding-bottom:5px;}
.app-item a img {display:block;margin:0 auto;padding-top:5px;}
.app-item a:hover {border-radius:5px;box-shadow:0 0 10px rgba(0,0,0,.3);}
.wmsp {width:10%;background:#8dd6ff;text-align:center;padding:7px 0;border-radius:5px;}
.menu-icon {width:13%;padding-top:13%;height:0px;background:#f00;display:block}
.autoright {position:absolute;top:0px;right:0px;left:340px;bottom:58px;height:100%;background:#e7f4fc;}
.category {position:relative;overflow:hidden;}
.category-other {position:absolute;right:0px;top:0px;width:120px;}
.category-other .cate-pages {height:42px;}
.category-other .cate-pages a {font-size:13px;background:#84c44c;color:#FFF;display:block;width:50%;height:42px;line-height:40px;float:left;text-align:center;}
.create-cate {background:#46aae5;overflow:hidden;}
.create-cate a {display:block;height:42px;line-height:42px;float:left;font-size:12px;color:#FFF;text-align:center;width:100%;}
.create-cate em.create {background:url(../../images/create.png) no-repeat center center;padding:0px 9px;}
.fenlei {padding-right:0px;}
.fenleibox  span {position:absolute;right:-14px;top:-14px;width:28px;height:28px;border-radius:38px;background:#f80101;color:#fff;line-height:28px;text-align:center;}
.fenlei ul {background:#0e87cc;}
.fenlei li {float:left;width:20%;}
.fenlei li a {background:#46abe4;text-align:center;display:block;color:#fff;font-size:14px;height:40px;line-height:40px;padding:0px;border-left:1px solid #186c9b;border-right:1px solid #a6defe;border-bottom:1px solid #186c9b;border-top:1px solid #a6defe;}
.fenlei li.active a,.fenlei2 li.active a {background:#0e87cc;}
.fenlei2 {margin:10px 0;border-bottom:1px solid #ddd;background:#0e87cc;}
.fenlei2 li {float:left;margin-top:-1px;width:20%;}
.fenlei2 li a {background:#46abe4;text-align:center;display:block;color:#fff;font-size:14px;height:40px;line-height:40px;padding:0px;border-left:1px solid #186c9b;border-right:1px solid #a6defe;border-bottom:1px solid #186c9b;border-top:1px solid #a6defe;}
.fenlei2 li a.active2 {background:#056497;}
.fenlei6 li {width:16.6666%;}
.fenleibox {padding:10px 0.5% 10px;overflow:auto;position:absolute;bottom:0px;left:0px;right:0px;top:0px;}
.fenleibox .goods-item {float:left;width:23%;padding:1% 1%;position:relative;}
.fenleibox .goods-item .buynumber {position:absolute;right:-3px;top:-3px;background:#F00;border-radius:50%;width:24px;height:24px;z-index:100;color:#FFF;text-align:center;line-height:24px;display:none;}
.fenleibox .buyactive a.item-inner {background:#4688f6;}
.fenleibox .warningactive .item-inner {background:#fecd2a;}
.fenleibox a.item-inner {background:#8dd6ff;display:block;position:relative;box-shadow:0 0 10px #ccc;}
.fenleibox a.item-inner:hover {background:#99e5e3}
.fenleibox .in-img {position:relative;background:#F00;padding-top:25%;width:25%;}
.fenleibox .in-img img {position:absolute;top:0px;left:0px;right:0px;bottom:0px;display:block;width:100%;height:100%;}
.fenleibox .goods-txt {position:absolute;left:27%;top:10px;bottom:0px;right:20px;}
.fenleibox .goods-txt .goods-title {text-overflow:-o-ellipsis-lastline;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;}
.fenleibox .goods-warning {padding-top:2%;color:brown;font-size:0.7em;}
.fenleibox .goods-price {position:absolute;right:2px;bottom:8px;color:#F00;font-size:15px;font-weight:bold;}
.fenleibox::-webkit-scrollbar {width:8px;height:7px;position:absolute;}
.fenleibox::-webkit-scrollbar-thumb {background-color:#d9d9d9;border-radius:10px;}
.fenleibox::-webkit-scrollbar-track {background-color:#36abed;border-radius:10px;}
@media screen and (max-width:1700px) {.fenleibox .goods-item {width:31.3333%;padding:1% 1%;}
.fenleibox .in-img {padding-top:25%;width:25%;}
.fenleibox .goods-price {font-size:13px;}
}
.fenleibox li {float:left;width:25%;position:relative;height:0;padding-top:8.755%;}
.fenleibox li a {position:absolute;top:5.5%;left:3.5%;right:3.5%;bottom:5.5%;background:#8dd6ff;display:block;}
/**4.3434*//*.fenleibox li a {display:block;margin:20px 10px;position:relative;height:100px;border-radius:5px;padding-left:110px;box-shadow:2px 2px 5px rgba(0,0,0,.2);background:#99e5e3}
*/.fenleibox li a img {position:absolute;left:0;top:0;border-radius:5px;width:100px;height:100px;box-shadow:0px 0px 5px rgba(0,0,0,.2);}
.fenleibox li a:hover {background:#8dd6ff}
.fenleibox li p {font-size:13px;height:40px;margin-bottom:10px;overflow:hidden;padding:15px 0 0 0;line-height:120%;color:#222;}
.fenleibox li i {font-size:18px;color:#fe4b54;float:right;font-style:normal;padding-right:15px;}
.fenleibox li span {position:absolute;right:-18px;top:-18px;width:36px;height:36px;border-radius:38px;background:#f80101;color:#fff;line-height:36px;text-align:center;}
.bg1 {background:#99e5e3!important;}
.bg2 {background:#8dd6ff!important;}
.bg3 {background:#fecd2a!important;}
.bg4 {background:#4688f6!important;}
.bg5 {background:#0e87cc!important;}
.form-options {overflow:hidden;}
.form-options .form-option-list {overflow:hidden;font-size:12px;}
.form-options .form-option-list select {font-size:12px;margin-right:10px;}
.formlist em {font-size:12px;color:#F00;}
.formlist li {position:relative;overflow:hidden;}
.formlist .lbt {position:absolute;width:120px;top:10px;line-height:34px;color:#888;text-align:right}
.formlist li>div {padding-left:120px;margin:5px 0;min-height:40px;}
.formlist li>div label {padding:8px 8px 8px 0;display:inline-block;}
.formlist li>div label input {margin-right:5px;}
.formlist li>div .btn {margin:5px 0}
.huodog li {float:left;width:342px;height:127px;margin-right:30px;background:url(../images/hd.png)}
.huodog li.guoqi {background:url(../images/gq.png)}
.huodog li a {display:block;padding:26px 20px;color:#fff;font-size:16px;}
.chanpin ul {margin-left:-10px;margin-right:-10px;overflow:hidden;}
.chanpin li {float:left;width:14.28%;margin:10px 0;}
.chanpin li img {width:100%;}
.chanpin li a {display:block;box-shadow:0 0 8px rgba(0,0,0,0.1);color:#333;background:#b5e3ff;border-radius:3px;overflow:hidden;margin:0 10px;}
.chanpin li.warningactive a {background:#FFCC00;}
.chanpin li a:hover {background:#8ed4ff;}
.cpnav {padding:10px 15px;font-size:12px;}
.goods_attr_info {overflow:hidden;padding-top:10px;}
.goods_attr_info span {display:block;float:left;padding-right:20px;}
.cpnav ol {margin:0 0 10px 0;height:34px;overflow:hidden;font-size:12px;}
.cpnav strong {color:#ff3300;}
.cpnav span {color:#666;}
@media (max-width:1600px) {.chanpin li {width:16.6666%;}
}
@media (max-width:1400px) {.chanpin li {width:20%;}
}
.emptydatasearch,.emptydata {margin:0px;padding:10px;text-align:center;}
/***/  .page {text-align:center;padding:40px 0;}
.page li {display:inline-block;}
.page li a {color:#666666;font-size:14px;display:block;border:1px solid #cccccc;border-radius:0px;padding:3px 10px}
.page li.nobdr a {border-color:transparent;}
.page li a.active {background:#0372de;border:1px solid #0372de;color:#fff;}
/****/.tab-content>.tab-pane {display:none;}
.fade.in {opacity:1;}
.fade {opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear;}
.tab-content>.active {display:block;}
/***/.tabsbox02 {border:1px solid #ddd;padding-left:0!important;}
.tabsbox02 .tab-content {padding:15px;}
.tabs02 li {float:left;}
.tabs02 {background:#f1f1f1;}
.tabs02 li a {display:block;padding:10px 25px;color:#555;}
.tabs02 li.active a {display:block;border-bottom:2px solid #2071d9;color:#2071d9;}
.common-app-tabs {height:38px;margin-bottom:20px;border-bottom:1px solid #e6e6e6;margin-top:20px;background:#FFF;padding:20px 0px 0px 0px;}
.common-app-name {padding:0px 40px 0px 20px;float:left;height:35px;line-height:35px;font-weight:bold;text-align:center;font-size:15px;}
.common-app-tabs .app-tab {float:left;position:relative;min-width:300px}
.common-app-tabs ul {height:35px;position:absolute;left:0px;top:2px;overflow:hidden;}
.common-app-tabs ul li {float:left;padding:0px 3px;}
.common-app-tabs ul li a {display:block;float:left;padding:0px 20px;border:1px solid #ddd;height:35px;line-height:35px;font-size:13px;font-weight:bold;background:#E6E6E6;border-radius:5px  5px  0px 0px;}
.common-app-tabs ul li.active a {border-bottom:1px solid #f3f3f3;background:#FFF;color:#000;}
.edtitable {width:100%;margin:0px auto;border-collapse:collapse;border:1px #aaa solid;text-align:center;}
.edtitable thead tr {background:#D5D5D5}
.edtitable tr {border:1px #aaa solid}
.edtitable tr td {/*border:1px #aaa solid;*/ border:1px #ddd solid;height:40px;min-width:50px;padding:1px;}
.edtitable tr  th {background:#F5F5F5;border:1px #ddd solid;height:40px;min-width:50px}
.edtitable .odd {background:#f9f9f9;}
.edtitable .even {background:#FFF;}
.edtitable tr:hover {background:#f5f5f5;}
.edtitable {background:#FFF;}
.edtitable tr a {color:#000000}
.edtitable .append-row {background:#D5D5D5!important}
.edtitable .append-row td {padding-right:2.7%}
#addBtn {background:#5a98de;text-align:center;overflow:hidden;white-space:nowrap;color:#fff;font-size:12px;height:25px;line-height:25px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;cursor:pointer;display:inline-block}
.edtitable tr input {background:none;border:0px;height:30px;line-height:30px;border:1px solid #CCC;}
.edtitable td span.tags {display:inline-block;font-size:12px;color:#FFF;border-radius:5px;padding:0px 10px;height:21px;line-height:21px;background:#5bc0de;border:1px solid #46b8d;margin-right:10px;}
.common-app-tab {padding:10px 0;}
.order-details {padding:10px;}
.tablelist {}
.tablelist {border:solid 1px #cbcbcb;width:100%;clear:both;}
.tablelist tr.warning {background:#FF0;color:#999}
.tablelist tr.delete {background:#ccc;color:#999}
.tablelist th {background:url(../images/th.gif) repeat-x;height:34px;line-height:34px;border-bottom:solid 1px #b6cad2;text-indent:11px;text-align:left;}
.tablelist td {line-height:20px;border-right:dotted 1px #c7c7c7;padding:5px 5px;}
.tablelist tbody tr.odd {background:#f5f8fa;}
.tablelist tbody tr:hover {background:#e5ebee;}
.tablelist  tr.emptypadding td {padding:0px 0px 0px 5px;}
.tablelist  tr.emptypadding td.tree {border-left:0px;padding-left:0px;}
.tablelist  td .goodsclassnavs {position:relative;height:38px;width:100%;}
.tablelist  td .goodsclassnav {position:absolute;z-index:1;width:0px;top:0px;left:-1px;float:left;height:38px;width:100%;}
.tablelist  td .goodsclassnav .imgs {float:left;}
.tablelist  td .goodsclassnav .imgs img {width:28px;height:28px;float:left;}
.tablelist  td .goodsclasstxt {float:left;padding-top:5px;}
.tablelist  td .goodsclassnav span.tree {display:block;float:left;width:30px;height:38px;background:url(../images/goodsclass/verticalline.png) no-repeat left top;}
.tablelist  td .goodsclassnav span.treenone {background:none;}
.tablelist  td .goodsclassnav em {display:block;float:left;width:30px;height:38px;position:relative;}
.tablelist  td .goodsclassnav em i {display:block;float:left;width:30px;height:38px;position:absolute;left:0;top:0;z-index:2;font-style:normal}
.tablelist  tr.morenode td .goodsclassnav em i {left:-4px;background:url(../images/goodsclass/icon8.png) no-repeat left center;}
.tablelist  tr.treeopen td .goodsclassnav em i {left:-4px;background:url(../images/goodsclass/icon6.png) no-repeat left center;padding-right:4px;}
.tablelist  tr.treeopen td .goodsclassnav em.tree-end i {left:-4px;background:url(../images/goodsclass/icon7.png) no-repeat left top;}
.tablelist  tr.tree-close td .goodsclassnav em i {left:-4px;background:url(../images/goodsclass/icon8.png) no-repeat left center;}
.tablelist  tr td .goodsclassnav em.tree-end i {left:-4px;background:url(../images/goodsclass/icon8.png) no-repeat left top;}
.tablelist  td .goodsclassnav em.statuscenter i {background:url(../images/goodsclass/icon2.png) no-repeat left center;}
.tablelist  td .goodsclassnav em.statusend i {background:url(../images/goodsclass/icon4.png) no-repeat left top;}
.form-goods {overflow:hidden;padding:10px;color:#666;background:#FFF;}
.form-goods table {border:1px solid #E6E6E6;border-collapse:collapse;}
.form-goods table tr.title td {background:#F5F5F5;color:#000;font-weight:bold;font-size:13px;padding:10px 0px;text-indent:2em;}
.form-goods table td {border:1px solid #E6E6E6;border-collapse:collapse;padding:10px;}
.form-goods table td.name {width:140px;padding:10px 10px 10px 5px;text-align:right;vertical-align:middle;line-height:22px;}
.form-goods table td .select2container {float:left;padding-right:10px;}
.form-goods table td.name i {color:#F00;padding-right:3px;font-style:normal}
.form-goods table th i {color:#F00;padding-right:3px;font-style:normal}
.form-goods a.dssc-btn {font:normal 12px/20px "microsoft yahei";text-decoration:none;color:#777;background-color:#F5F5F5;text-align:center;vertical-align:middle;display:inline-block;height:20px;padding:4px 10px;border:solid 1px;border-color:#DCDCDC #DCDCDC #B3B3B3 #DCDCDC;cursor:pointer;}
.form-goods input[type="text"],.form-goods input[type="password"],.form-goods input.text,.form-goods input.password {font:12px/20px Arial;color:#777;background-color:#FFF;vertical-align:top;display:inline-block;height:20px;padding:4px;border:solid 1px #CCC;outline:0 none;}
.form-goods input[type="text"]:focus,.form-goods input[type="password"]:focus,.form-goods input.text:focus,.form-goods input.password:focus,.form-goods textarea:focus {color:#333;border-color:#75B9F0;box-shadow:0 0 0 2px rgba(82,168,236,0.15);outline:0 none;}
input[type="text"].error,input[type="password"].error,textarea.error {border-color:#ED6C4F;box-shadow:0 0 0 2px rgba(232,71,35,0.15);outline:0 none;}
.form-goods textarea,.form-goods .textarea {font:12px/20px Arial;color:#777;background-color:#FFF;vertical-align:top;display:inline-block;height:60px;padding:4px;border:solid 1px #CCC;outline:0 none;}
.form-goods select {color:#777;background-color:#FFF;height:30px;vertical-align:middle;*display:inline;padding:4px;border:solid 1px #CCC;*zoom:1;}
.form-goods select option {line-height:20px;display:block;height:20px;padding:4px;}
.form-goods .w400 {width:400px;}
.form-goods .w300 {width:300px;}
.form-goods .hint {font-size:12px;line-height:16px;color:#BBB;margin-top:10px;}
.goodsguizhe_list {padding:10px 0;}
.goodsguizhe_attrs {clear:both;}
.goodsguizhe_attrs {border:1px solid #ccc;overflow:hidden;padding:10px;margin-top:10px;}
.goodsguizhe_attrs .goodsguizhe_attr {padding:10px 0;line-height:25px;}
.goodsguizhe_attrs .goodsguizhe_attr input.txt {width:80px;height:25px;line-height:25px;border:1px solid #ccc;}
.goodsguizhe_attrs .goodsguizhe_attr_list {padding:10px 0;}
.goodsguizhe_attrs  .goodsguizhe_attr a {text-decoration:none;color:#333333;font-size:12px;}
.goodsguizhe_attrs .goodsguizhe_attr_list .listimgs {float:left;margin-right:10px;margin-bottom:10px;border:1px solid #ccc;padding:0px;overflow:hidden;}
.goodsguizhe_attrs .listimgs img {width:120px;height:120px;display:block;}
.goodsguizhe_attrs .listimgs span {display:block;padding:5px;}
.goodsguizhe_attrs .listimgs span.title {padding:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:110px;}
.goodsguizhe_attrs .listimgs span input.txt {width:50px;height:23px;line-height:23px;border:1px solid #ccc;}
.goodsguizhe_attrs .listimgs span em {padding-left:5px;}
.store_class_btns,.store_class_list {float:left;}
.store_class_list {padding-left:10px;}
a.sys-common-btn {font:normal 12px/20px "microsoft yahei";text-decoration:none;color:#777;background-color:#F5F5F5;text-align:center;vertical-align:middle;display:inline-block;height:20px;padding:4px 10px;border:solid 1px;border-color:#DCDCDC #DCDCDC #B3B3B3 #DCDCDC;cursor:pointer;}
select.sys-common-select {border:solid 1px #CCC;min-width:120px;height:30px;line-height:30px;}
.ding_jing_group {display:none;}
a.dssc-btn {font:normal 12px/20px "microsoft yahei";text-decoration:none;color:#777;background-color:#F5F5F5;text-align:center;vertical-align:middle;display:inline-block;height:20px;padding:4px 10px;border:solid 1px;border-color:#DCDCDC #DCDCDC #B3B3B3 #DCDCDC;cursor:pointer;}
input.dssc-btn {font:normal 12px/20px "microsoft yahei";text-decoration:none;color:#777;background-color:#F5F5F5;text-align:center;vertical-align:middle;display:inline-block;padding:4px 10px;border:solid 1px;border-color:#DCDCDC #DCDCDC #B3B3B3 #DCDCDC;cursor:pointer;}
/*seachform*/.rightinfo {padding:8px;}
.seachform {border:1px solid #ffbe7a;background:#fffced;padding:8px 10px;overflow:hidden;}
.seachform li {float:left;margin-right:15px;padding-top:7px;padding-bottom:7px;overflow:hidden;height:34px;}
.seachform li label {padding-right:10px;float:left;line-height:32px;}
.scinput {width:150px;height:32px;line-height:32px;border-top:solid 1px #a7b5bc;border-left:solid 1px #a7b5bc;border-right:solid 1px #ced9df;border-bottom:solid 1px #ced9df;background:url(../images/inputbg.gif) repeat-x;text-indent:10px;}
.scbtn {width:85px;height:35px;background:url(../images/btnbg.png) no-repeat center;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;border-radius:3px;behavior:url(../../../css/js/pie.htc);}
.selectoption {float:left;padding-bottom:20px;width:80%;}
.selectoption .option_list {padding:10px 0;}
.selectoption .option_list div.specs {display:block;border:1px solid #ccc;padding:5px;}
.selectoption .option_list .tips_msg {display:block;clear:both}
.selectoption .option_list .tips_msg .tips_list {display:block;overflow:hidden;}
.selectoption .option_list .tips_msg h3 {font-size:13px;padding:3px 0px;}
.selectoption .option_list .specgoods {padding:4px;border:1px dashed  #ccc;margin-bottom:10px;}
.selectoption .option_list .specerror {border:1px solid #f00;}
.selectoption .option_list .tips_msg {display:none;overflow:hidden;padding:3px 0px;}
.selectoption .option_list .tips_msg .tips_list span {float:left;border:1px solid #f00;background:#FFCC00;display:block;padding:3px 2px;margin:5px 10px 5px 0px;}
.selectoption .option_list span em {padding-right:10px;}
.selectoption .option_list .specgoods a.del {color:#060;padding-left:10px;}
.yunmallsuperfish li {position:relative;}
.sf-menu ul {position:absolute;z-index:800;top:41px;width:100%;background:#0e87cc;display:none;}
.sf-menu ul li {width:100%;border-left:0px;border-right:0px}
.sf-menu ul li em {float:right;display:block;color:#FFF;border:0px;padding-right:5px;}
.sf-menu ul li a {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:#0e87cc;border-top:1px solid #FFF;text-align:left;padding-right:0px;padding-left:10px;}
.sf-menu ul li:first-child a {border-top:none;}
.sf-menu ul li a:hover {background:#cfdeff}
.sf-menu ul li ul li a {padding-left:5px;min-width:190px;}
.sf-menu ul li ul {left:100%;top:0px;}
.yun_upload_images {display:block;overflow:hidden;max-width:150px;}
.yun_upload_images img {width:100%;}
.yun_upload_images .cut_pictures {display:block;text-align:center;width:100%;}
@font-face {font-family:'iconfont';/* project id 1041197 */  src:url('//at.alicdn.com/t/font_1041197_rc7qzzgwmyh.eot');src:url('//at.alicdn.com/t/font_1041197_rc7qzzgwmyh.eot?#iefix') format('embedded-opentype'),url('//at.alicdn.com/t/font_1041197_rc7qzzgwmyh.woff2') format('woff2'),url('//at.alicdn.com/t/font_1041197_rc7qzzgwmyh.woff') format('woff'),url('//at.alicdn.com/t/font_1041197_rc7qzzgwmyh.ttf') format('truetype'),url('//at.alicdn.com/t/font_1041197_rc7qzzgwmyh.svg#iconfont') format('svg');}
.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.i-shanjiaoxia:before {content:"\e65a";}
.i-shanjiaoyou:before {content:"\e614";}
.i-check:before {content:"\e6a0";}
.cashregistergoodsinfo {float:right;line-height:40px;color:#FFF;}
/*page*/.pagin {position:relative;margin-top:10px;padding:0 12px;}
.pagin .blue {color:#056dae;font-style:normal;}
.pagin .pagination {position:absolute;right:12px;top:0;}
.pagin .pagination  li {float:left;}
.pagin .pagination  li  a,.pagin .pagination  li span {float:left;width:31px;height:28px;border:1px solid #DDD;text-align:center;line-height:30px;border-left:none;color:#3399d5;}
.pagin .pagination  li:first-child a {border-left:1px solid #DDD;}
.pagin .pagination  li:first-child span {border-left:1px solid #DDD;border-bottom-left-radius:5px;border-top-left-radius:5px;}
.pagin .pagination  li:first-child a {border-bottom-left-radius:5px;border-top-left-radius:5px;}
.pagin .pagination  li:last-child a {border-bottom-right-radius:5px;border-top-right-radius:5px;}
.pagin .pagination  li:last-child span {border-bottom-right-radius:5px;border-top-right-radius:5px;}
.pagin .pagination  li.active,.pagin .paginList .paginItem.current a {background:#f5f5f5;cursor:default;color:#737373;}
.pagin .pagination  li:hover {background:#f5f5f5;}
.pagin .pagination  li.disabled,.pagin .paginList .paginItem.more a:hover {cursor:default;}
.pagin .pagination  li.disabled:hover {background:#FFF;}
.pagin .pagination  li.disabled span {color:#737373;}
.noresponse {text-align:center;overflow:hidden;height:32px;position:relative;width:100%;float:left;}
.noresponse .nexplain {height:30px;line-height:30px;border:1px solid #F00;margin:0px 40%;display:block;background:#CCC;border-radius:5px;}
.lockbackground {position:absolute;top:0px;left:0px;top:0px;bottom:0px;background:url(../images/bg.png) no-repeat center center;background-size:100% 100%;z-index:9999;width:100%;}
.lockbackground .sysunlock {position:absolute;width:400px;left:50%;top:50%;margin-left:-200px;margin-top:-75px;border-radius:10px;background:#FFF;overflow:hidden;}
.sysunlock .systexts {overflow:hidden;padding:30px 20px;}
.sysunlock .systext {padding:5px 0px;overflow:hidden;}
.lockbackground .unlocktxt {float:left;border:1px solid #CCC;border-right:0px;height:40px;line-height:40px;width:260px;border-radius:5px 0px 0px 5px;outline:none;}
.sysunlock .lock_title {height:35px;line-height:35px;background:#2fa5ff;color:#FFF;font-size:13px;font-weight:bold;padding-left:16px;}
.sysunlock .lock_message {padding:10px 0px 0px 0px;display:none;}
.sysunlock .lock_message span {display:block;width:100%;height:30px;line-height:30px;border:1px solid #F00;background:#FFe9ee;font-size:12px;color:#000;}
.sysunlock .lock_message span.error em {background:url(../images/error.png) no-repeat 5px center;padding-left:31px;height:30px;line-height:30px;display:block;font-style:normal}
.sysunlock .sysunbtn {float:left;background-color:#4CAF50;/* Green */    border:none;color:white;display:block;height:42px;line-height:42px;width:99px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;cursor:pointer;border-radius:0px 5px 5px 0px;-webkit-transition-duration:0.4s;/* Safari */    transition-duration:0.4s;box-shadow:0 1px 6px 0 rgba(0,0,0,0.2),0 1px 10px 0 rgba(0,0,0,0.19);}
.transaction_info {border:1px solid #999;background:#FFF;font-size:12px;margin:10px;padding:0px 0px 20px 0px;}
.transaction_info ul {padding-top:20px;}
.transaction_info h3 {background:#f5f5f5;padding:10px 0px 10px 10px;font-size:13px;}
.transaction_info li {padding:3px 0px 3px 10px;}
.transaction_info li span {padding-right:10px;}
.transactionwap {background:#FFF;margin:10px;border:1px solid #999;}
.transactiontable {border:0px;font-size:12px;background:#FFF;border-collapse:collapse;margin-bottom:10px;}
.transactiontable th {background:#f5f5f5;font-size:12px;font-weight:100;padding:10px 5px;}
.transactiontable td {padding:6px 7px;text-align:center;}
.transactiontable td .tgt .imgs {float:left;width:60px;height:60px;position:absolute;left:0px;top:0px;}
.transactiontable td .tgt .imgs img {width:100%;height:100%;}
.transactiontable td .tgt .t_title {float:left;padding-left:65px;position:relative;min-height:65px;}
.transactiontable td .spec {display:block;text-align:left;color:#ccc;padding:3px 0px;}
.transactiontable .gd_title {text-align:left;}
.additional_delivery {border:1px solid #CCC;margin-top:10px;overflow:hidden;}
.additional_delivery ul {padding:5px;}
.additional_margin {margin:20px;}
.additional_delivery .zhenshong {border-bottom:1px solid #CCC;text-align:left;padding:5px 0px;background:#f5f5f5}
.additional_delivery li {overflow:hidden;padding:5px 0px;}
.additional_delivery li a {color:#333;}
.additional_delivery li i {display:block;text-align:left;color:#999;}
.additional_delivery li span {font-size:12px;position:relative;padding-left:35px;display:block;text-align:left;}
.additional_delivery em {display:block;float:left;width:30px;height:30px;position:absolute;left:0px;top:0px;border:1px solid #CCC;}
.additional_delivery em img {width:100%;height:100%;}
.goods-total-map {border-top:1px solid #999;overflow:hidden;}
.goods-total {display:block;padding:20px;font-size:12px;}
.goods-total:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.goods-total {height:1%}
.goods-total ul {float:right}
.goods-total li {display:block;line-height:28px}
.goods-total li:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.goods-total li {height:1%}
.goods-total .label {float:left;width:500px;text-align:right}
.goods-total .txt {float:left;width:130px;text-align:right;font-family:verdana}
.goods-total .txt i {display:inline-block;width:16px;height:16px;background:url(http://misc.360buyimg.com/user/order/0.0.1/css/i/help.png) no-repeat;vertical-align:middle;margin-right:5px;margin-top:-2px}
.goods-total .count {font-size:18px;font-weight:700;color:#e4393c;}
.pets_classification {overflow:hidden;}
.pets_classification_menu {position:relative;height:30px;}
.pets_classification_menu ul {margin:0px;padding:0px;height:30px;position:absolute;top:1px;left:30px;z-index:2;}
.pets_classification_menu li {float:left;padding-left:10px;height:30px;}
.pets_classification_menu li a {border:1px solid #CCC;border-radius:5px 5px  0px 0px;background:#ccc;color:#333;font-size:12px;padding:0px 10px;display:block;height:30px;line-height:30px;border-bottom:1px solid #ccc;}
.pets_classification_menu li.active a {background:#FFF;border-bottom:1px solid #FFF;}
.pets_classification_list {border:1px solid #ccc;overflow:hidden;background:#FFF;padding:10px;border-radius:5px;}
.pets_classification_list ul {display:none;}
.pets_classification_list li {float:left;padding:5px 4px;}
.pets_classification_list li a {display:block;font-size:12px;color:#FFF;border-radius:5px;padding:0px 10px;height:21px;line-height:21px;background:#5bc0de;border:1px solid #46b8d;}
.pets_classification_list li a.active {background:#4fbaf2;}
.pets_classification_list li a.active i:before {content:"\e6a0";}
.search_time_map {overflow:hidden;padding:5px 0px;}
.search_time_map .search_field {float:left;overflow:hidden;}
.search_time_map .search_split {height:30px;line-height:30px;font-size:12px;padding:0px 5px;float:left;}
.search_time_map .search_field input {color:#666;height:30px;border:0px;line-height:30px;border:1px solid #ccc;}
.search_time_map .search_button {float:left;padding-left:10px;}
.search_time_map .search_button input {border:0px;height:30px;width:60px;text-align:center;line-height:30px;border-radius:3px;font-size:13px;color:#fff;float:left;background:linear-gradient(#2fb3f1,#1991ce);}
.error {color:red;}
