<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ConnString" value="server=10.1.0.30;port=3311;database=my_test;Username=root;Password=moqikaka3311;Allow Zero Datetime=True;pooling=true;MinimumPoolSize=5;maximumpoolsize=10;command timeout=300;"/>
    <add key="LinkKeyWordsList" value="高考,满分作文"/>
    <add key="TitleKeyWordsList" value="高考,满分作文"/>
    <add key="ExceptKeyWordsList" value="汇总,集锦,汇编,集萃,总结,全集,题目"/>
    <add key="IsOnlyThisSite" value="true"/>
    <add key="ThreadCount" value="3"/>
  </appSettings>
</configuration>