
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>上传文件</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <h4>上传目录</h4>
    <form id="folderForm" enctype="multipart/form-data" method="post" action="/file/upload">
        @*<input type="text" name="uid" size="50">*@
        <input type='file' name="file" webkitdirectory>
        <input type="submit" name="log1" value="提交">
    </form>

    <h4>上传文件</h4>
    <form id="fileForm" enctype="multipart/form-data" method="post" action="/file/upload">
        @*<input type="text" name="uid" size="50">*@
        <input type='file' name="file" multiple>
        <input type="submit" name="log1" value="提交">
    </form>

    <script>

        $(function () {
            $("#folderForm").on("submit", function () { upload('folderForm'); return false; });

            $("#fileForm").on("submit", function () { upload('folderForm'); return false; });
        });


        function upload(formid) {
            //var uid = $.trim($('#fileForm input[name=uid]').val());
            var crowd_file = $('#' + formid + ' input[name=file]')[0].files;

            if (crowd_file.length == 0) {
                alert("请选择上传的文件或目录");
                return false;
            }

            var formData = new FormData();

            //formData.append("uid", uid);

            for (var i = 0; i < crowd_file.length; i++) {
                formData.append("crowd_file", crowd_file[i]);
            }

            $.ajax({
                url: 'upload',
                dataType: 'json',
                type: 'POST',
                async: false,
                data: formData,     // formdata对象作为参数
                processData: false, // 使数据不做处理
                contentType: false, // 不要设置Content-Type请求头
                success: function (data) {
                    console.log(data);
                    if (data.code == 0)
                        alert('成功上传 ' + data.successCount + ' 个文件！');
                    else
                        alert(data.msg);
                },
                error: function (response) {
                    alert(response);
                }
            });

            return false;
        }
    </script>
</body>
</html>
