@{
    Layout = null;
}
<div class="modal-dialog well" style="width:400px;">
    @using (Ajax.BeginForm("ChangePassword", "LoginUser", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "onDataMidff" }, new { @class = "form-horizontal", id = "editForm" }))
    {
        <div class="modal-header" style="padding:0px;">
            <h4>密码修改</h4>
        </div>
        <div class="modal-body" style="padding:5px;">
            <div class="form-group">
                <b>旧密码</b>
                <input type="password" id="oldpassword" name="oldpassword" class="form-control" maxlength="32" />
                <span id="erroldpassword" class="error"></span>
            </div>
            <div class="form-group">
                <b>新密码</b>
                <input type="password" id="password" name="password" class="form-control" maxlength="32" />
                <span id="errpassword" class="error"></span>
            </div>
            <div class="form-group">
                <b>确认新密码</b>
                <input type="password" id="repassword" name="repassword" class="form-control" maxlength="32" />
                <span id="errrepassword" class="error"></span>
            </div>

            <div class="form-group" style="text-align:right;">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function isValud_Edit() {
        var result = true;
        if ($("#oldpassword").val() == "") {
            $("#erroldpassword").text("请输入旧密码！").show();
            result = false;
        }
        else {
            $("#erroldpassword").hide();
        }

        if ($("#password").val() == "") {
            $("#errpassword").text("请输入新密码！").show();
            result = false;
        }
        else {
            $("#errpassword").hide();
        }

        if ($("#repassword").val() == "") {
            $("#errrepassword").text("请输入确认新密码！").show();
            result = false;
        }
        else {
            $("#errrepassword").hide();
        }

        if (!result)
            return false;

        if ($("#password").val().length < 8) {
            $("#errpassword").text("新密码最少8个字符！").show();
            result = false;
        }
        else {
            $("#errpassword").hide();
        }

        if ($("#password").val() != $("#repassword").val()) {
            $("#errrepassword").text("新密码输入不一致！").show();
            result = false;
        }
        else {
            $("#errrepassword").hide();
        }

        return result;
    }


    $(function () {
        $("#editForm").submit(function () {
            return isValud_Edit();
        });
    });
</script>
